/* PRIMARY */
$boxborder-color: #C5C5C5;
$highlight-green-color: #4d861f;
$archive-color: #46781b;
$searchtext-color: rgb(34, 34, 34, 0.4);

/* LIGHT MODE */
$bg-color-light: #ffffff;
$navigations-color-light: #404040;
$text-color-light: #222222;
$searchfield-color-light: rgb(217, 217, 217, 0.3);

/* DARK MODE */
$bg-color-dark: #1f1f1f;
$fonts-color-dark: #d9d9d9;
$searchfield-color-dark: #d9d9d9;


/* SCSS TO CSS */
:root {
  color-scheme: light dark;
  /* PRIMARY */
  --boxborder: #{$boxborder-color};
  --highlight: #{$highlight-green-color};
  --archive: #{$archive-color};
  --searchtext: #{$searchtext-color};

  /* LIGHT MODE */
  --bg-l: #{$bg-color-light};
  --navs-l: #{$navigations-color-light};
  --text-l: #{$text-color-light};
  --searchfield-l: #{$searchfield-color-light};

  /* DARK MODE */
  --bg-d: #{$bg-color-dark};
  --fonts-d: #{$fonts-color-dark};
  --searchfield-d: #{$searchfield-color-dark};
}

/* DATA-DARK */
[data-dark="true"] {
  color-scheme: dark;
}
[data-dark="false"] {
  color-scheme: light;
}


/* COLORING */
#app{
  background-color: light-dark(var(--bg-l), var(--bg-d));
}
