@use "./variables/color" as var;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: black;
}
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h2 {
  text-transform: uppercase;
}

/* SIZE */
body {
  font-size: 1rem;
}
h1 {
  font-size: 1.5rem;
}
h2,
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.875rem;
}
a {
  font-size: 0.75rem;
}
.btn1,
.btn2 {
  font-size: 1rem;
}
.btn3 {
  font-size: 1.125rem;
}

/* WEIGHT */
h1,
h2 {
  font-weight: 900;
}
h3 {
  font-weight: 700;
}
p,
a,
#search {
  font-weight: 400;
}
.btn1,
.btn2,
.btn3 {
  font-weight: 600;
}

/* COLORS */
h1,
h2,
.ulFooter a {
  color: light-dark(var(--navs-l), var(--fonts-d));
}
h3,
p {
  color: light-dark(var(--text-l), var(--fonts-d));
}
