@use "./placeholders/base";
@use "./placeholders/img";
@use "./pages/index";
@use "./pages/home";
// @use "./pages/popular";
// @use "./pages/archive";
@use "./pages/settings";
@use "search";
@use "switch";
@use "news";
@use "fonts";
@use "header";
@use "footer";


body {
    @extend %base;
    @extend %img;
    margin: 0 auto;
}

#app {
    height: 100%;
    margin: 0 auto;
}